/* Scoped form styles */
.form-group label {
    display: flex;
    margin-bottom: 10px;
    font-weight: bold;
    flex-direction: column;
}

/* Scoped input fields styling */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.2s;

}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
    border-color: #007BFF;
    outline: none;
}


.group button:hover {
    background-color: #0056b3;
}

/* Scoped error message styling */
.form-group .error {
    color: red;
    font-size: 0.85rem;
    margin-top: 5px;
}


.business-form-container {
    max-width: 800px;
    max-height: 1500px;
    margin: 30px auto;
    padding: 20px;
    background: #1a1919;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(246, 245, 245);

}

.form-group .button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #FFF;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
}
