/* Form container */
.form__container_business-update__form {
    max-width: 800px;
    max-height: 1500px;
    margin: 30px auto;
    padding: 20px;
    background: #1a1919;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(246, 245, 245);
    flex-direction: column;
}

/* Error container */
 .business-error__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.error {
    margin: 5px 0;
    color: red;
    font-size: 14px;
} */

/* Form heading */
form h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 1rem;
}

/* Form input containers */
/* .form__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
} */

/* Input labels */
/* .form__input label {
    margin-bottom: 5px;
    font-size: 16px;
    color: #555;
} */

/* Input fields and textarea */
.form__input input[type="text"],
.form__input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
}

/* .form__input textarea {
    height: 100px;
    resize: vertical;
} */

.form__input input[type="text"]:focus,
.form__input textarea:focus {
    border-color: #007BFF;
}

/* Button container */
.form__input.button__container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Submit button */
.form__button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #FFF;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
}

.form__button:hover {
    background-color: #0056b3;
}
