.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}


/* General Styling */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0 15px;
}

.view-login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-in-button{
  width: calc(100% - 20px);
  background-color: gold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: medium;
  border: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.log-in-button:hover {
  background-color: darkred;
}

.sign-up-button{
  width: calc(100% - 20px);
  background-color: #E6B567;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  padding: 8px 12px;
  font-size: medium;
  border: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sign-up-button:hover {
  background-color: darkred;
}

/* NavLink and Button Styling */
.view-business-button{
  width: calc(100% - 20px);
  background-color: #E6B567;
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  margin-bottom: 0;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.view-business-button:hover {
  background-color: darkred;
}

.logout-red-button{
  width: calc(100% - 20px);
  background-color: red;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  padding: 8px 12px;
  font-size: medium;
  border: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.logout-red-button:hover {
  background-color: darkred;
}

.create-business-button {
  width: calc(100% - 20px);
  background-color: #E6B567;
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  margin-bottom: 0;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.create-business-button:hover {
  background-color: darkred;
}


.profile-button{
  border: 0;
  background-color: transparent;
  padding: 0;
  border-radius: 10px;
}

.profile-button:hover {
  border: 0;
  background-color: #464646;
}

/* Profile Dropdown Styling */
.profile-dropdown {
  position: absolute;
  top: 100%;
  right: 7px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  display: block;
  z-index: 999;


}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li {
  /* position: absolute; */
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 0;
  padding: 10px 10px;
  z-index: 1;
  flex-direction: column;
  row-gap: 5px;
  background-color: rgb(5, 5, 5);
  border-radius: 5px;
  font-size: small;
  box-shadow: 0px 0px 10px lightgray;
  top: 80px;
  right: 8px;
  transform-origin: top;
  list-style-type: none;
  transition: background-color 0.3s ease-in-out;
}

.profile-dropdown li:last-child {
  border-bottom: none;

}.profile-dropdown li:hover {
  background-color: #e5e5e5;
}

.profile-dropdown button {
  width: 100%;
  text-align: center;
  /* padding-left: 10px; */
}

/* Modal Button Styling */
.open-modal-button {
  background-color: #b5a240;
  color: white;
  padding: 10px 15px;
}

.open-modal-button:hover {
  background-color: #262626;
}

/* Navigation Container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  background-color: #141414;
  border-bottom: 1px solid #272727;
  position: relative;
  padding-right: 20px;
}

.nav-left {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.small-logo {
  height: 45px;
  width: 62px;
  margin-right: 15px;
  border-radius: 5px;
  padding-top: 5px;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.small-logo2 {
  height: 40px;
  width: 62px;
  margin-top: 4px;
  margin-right: 15px;
  border-radius: 5px;
  padding-top: 5px;
  border: none;
  color: #FFF;
  cursor: pointer;
  background-color: white;
  font-size: 1rem;
  transition: background-color 0.2s;
}

/* Searchbar Style */
.searchbar {
  flex: 1;
  padding: 1px;

}
.search-bar::placeholder {
  color: #666;
}

.search-bar:hover {
  width: 300px;
  border-color: #555;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.search-bar:focus {
  width: 300px;
  border-color: #007BFF;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
}

.fas.fa-user-circle {
  font-size: 1.5rem;
  color: rgb(67, 67, 67)
}

.fas.fa-user-circle:hover {
  font-size: 1.5rem;
  color: rgb(233, 233, 233)
}

.view-logout-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
}

/* Button styling */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #b5a240;
  color: #FFF;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;

}

button:hover {
  background-color: #1e1e1e;
}
