.modal-container {

    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;


}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

button:hover {
    opacity: 0.8;
}

.cancel {
    background-color: #ccc;
    color: #333;
}

button:not(.cancel) {
    background-color: #f44336;
    color: #fff;
}
