



  .deleteSpotContainer .confirm-yes,
  .deleteSpotContainer .cancel {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }


  .deleteSpotContainer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }


  .deleteSpotContainer .confirm-yes:hover {
    background-color: #28a745;
    color: white;
  }

  .deleteSpotContainer .cancel:hover {
    background-color: #dc3545;
    color: white;
  }
